span {
    color: blue;
}

.text2 {
    color: blueviolet;
}

#text3 {
    color: red;
}

.class .lorem {
    color: green;
}

p b {
    color: yellow;
}

h1 {
    color: darkgreen;
}

li.brown {
    color: brown;
}

li.magenta {
    color: magenta;
}

li, p {
    color: tomato;
}